@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: Roboto;
}

.header {
    padding: 5px;
}

.header, .footer {
    background-color: #1f2937;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 85%;
    margin: 0 auto;
}

.header2 {
    display: flex;
    margin-top: 65px;
    margin-bottom: 65px;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    max-width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

.header-left {
    max-width: 450px;
}

.header-right {
    background-color: #6D747D;
    color: white;
    text-align: center;
    padding: 100px 200px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.second-text, ul, .placeholder {
    font-size: 18px;
    color: #e5e7eb;
    list-style: none;
}

ul {
    display: flex;
    gap: 25px;
}

.sign-up {
    background-color: #3882f6;
    border-radius: 8px;
    color: white;
    padding: 5px;
    width: 80px;
    height: auto;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}
